.remote-control-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #333;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.remote-canvas {
    width: 812px;
    height: 375px;
    background-color: #444;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.remote-button {
    width: 80px;
    height: 80px;
    background-color: #555;
    color: white;
    border: 2px solid #888;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    position: absolute;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.remote-button:active {
    background-color: #777;
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.button-content {
    pointer-events: none; /* Make sure the icon or text doesn't block events */
}

.layout-chooser {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.layout-chooser h2 {
    margin-top: 0;
}

.layout-chooser select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #888;
    background-color: #555;
    color: white;
    font-size: 1rem;
}

